@font-face {  /*f-f вы можете загруз шрифт с вашего сервера (или из внешнего источника) и применить его к тексту на вашей странице*/
    font-family: 'BODONI'; /* Имя, которое будет использоваться для обращ на шрифт */
    src: url(../font/BOD_R.TTF);
}

:root {
    --gold: #ccaf6b;
}

body {
    background-color: black;
    color: #fff;
    font-family: 'BODONI', serif; 
    font-size: 18px;
    letter-spacing: 2px;
}

a {
    transition: all .4s ease;
    color: var(--gold);
    text-decoration: none;
}

a:hover {
    opacity: 0.7; /* будет становится прозрачным плавно .4s */
}

h2 {
    font-size: 38px;
}

h4 {
    font-size: 18px;
    font-weight: 300;
}

h5 {
    font-weight: 300;
    font-size: 16px;
    margin: 0;
}

p {
    font-weight: 300;
    font-size: 16px;
}

.container {
    max-width: 1400px; /* Элемент .container не сможет быть шире 1400 пикселей. */
    margin: 0 auto;  /* по вертикали будет 0 по ширине авто */
    padding: 40px;
}

.header {
    padding: 0 40px;
    height: 70px;
    justify-content: space-between; /*распрет эл внутри флекс-контейнера так, чтобы 1 и последний элементы были прижаты к краям, а пространст между ними было равномерно распределено.*/
    border-bottom: 1px solid #fff;
    background-color: #000;
}

.input-container {
    position: relative;
    display: flex;
}

.search {
    padding-right: 150px;
    padding-bottom: 10px;
}

.form_input {
    border: none;
    border-bottom: 1px solid #fff;
    width: 350px;
    padding: 5px 10px;
    padding-right: 40px;
}

.form_input::placeholder {
    color:#000
}

.form_input:focus { 
    all: unset; /* сняли дефолт стили */
    border: none;
    background-color: #000;
    width: 330px;
    padding: 5px 10px;
    border-bottom: 1px solid #fff;
    letter-spacing: 2px;
}

.form_input, textarea {
    color: #fff;
}

.btnforsearch {
    position: absolute; /*Элемент будет позиционироваться относительно ближайшего родителя с position: relative;, absolute; или fixed; . Если такого родителя нет, то относительно документа*/
    left: 96%; /* left указывает, насколько элемент сдвинут от левого края своего родителя */
    background-color: #000;
    top: 26%;
    background: url(../img/search.png);
    border: none;
    width: 20px;
    height: 20px;
}

.forsearch {
    position: relative; /*можете использ свойства top, right, bottom и left, чтобы сдвинуть элемент относ его исходного положения.*/
}

.search-popup {
    position: absolute;
    top: 100%;
    right: 0;
    width: 250px;
    z-index: 1000;
    padding: 10px;
    margin-right: 92px;
    margin-top: 20px;
}

.form_input {
    padding: 5px;
    flex: 1;
}  /*на этом закончили стилизовать нав бар снизу будет сам каталог*/

.rev-head {
    font-size: 27px;
    text-align: center;
    padding-bottom: 40px;
}

.sidebar {
    min-width: 260px;
    margin-right: 80px;
}
.sidebar h4 {
    font-weight: 600;
}

.category-option {
    position: relative;
    display: flex;
    align-items: center; /* Вертикальное центрирование */
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 14px;
}

.category-option input[type="checkbox"] { /*стилиз чекбоксы*/
    display: none;
} 

.category-option label {
    position: relative;
    padding-left: 30px;
    padding-top: 2px;
    cursor: pointer;
    color: #fff;
}

.category-option label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%; /*ровно по середине*/
    transform: translateY(-50%); /*тож самое что и топ 50%*/
    width: 20px;
    height: 20px;
    background-color: #000;
    border: 3px solid #fff;
    border-radius: 3px;
}

.category-option input[type="checkbox"]:checked + label::before{
    background-color: #fff;
}

.category-name {
    width: 200px;
}
.category-len {
    padding-left: 40px;
}

.price-range {
    margin-bottom: 20px;
}

.size-head, .category-head {
    margin-top: 40px;
    margin-bottom: 15px;
}

.price-head {
    margin-bottom: 15px;
}

input[type='number'] {
    width: 120px;
    border: none;
    background-color: #000;
    padding-left: 20px;
    padding-bottom: 5px;
    color: #fff;
    outline: none;/*чтоб не было белой обводки*/
    border-bottom: 2px solid #fff;
    transition: border-color 0.3s;
    -moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
} /*это всё для того чтоб штуки для увелич или уменьш числа в range пропали*/


.card-container {
    gap: 30px; /* для того чтоб было расст между карточками */
}

.card {
    width: 240px;
    height: 460px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
}
.card img {
    width: 240px;
    height: 350px;
}

.card-info {
    padding-top: 15px;
}

.detail-img {
    position: relative;
    display: flex;
    justify-content: center;
    max-height: 800px;
}


.image-nav { /*кнопки*/
    position: absolute; /*чтоб всегда располог на одном месте*/
    top: 50%; /*будут ровно по центру по вертикали*/
    transform: translateY(-50%);
    width: 100%;
}
.prevBtn, .nextBtn {
    background-color: #e8ece8;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    color: #000;
}

.detail-description {
    margin: 40px 0 0 20px; /*1 верх 2 низ 3 право 4 лево*/
}
.item-desc {
    font-size: 22px;    
    max-width: 700px;
    margin-top: 30px;
}

.sizes-list {
    padding: 0;
}

.size-name {
    width: 60px;
    height: 40px;
    background-color: #000;
    border: 1px solid rgb(97, 96, 98);
    transition: all .3s ease;
    color: #fff;
}

.detail-price {
    font-size: 24px;
}

.default-btn {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #817e7e;
    background-color: #000;
    color: #fff;
    transition: all .4s ease;
}

.default-btn:hover  {
    opacity: 0.7;
}

.detail-selected {
    border: 1px solid #aa33f4;
}

.card-on-catalog {
    color: #fff;
}